doctype html
html
  head
    meta(charset='utf-8')
    script.
      if (location.href.indexOf('biaoqing233.com') !== -1) {
        var _hmt = _hmt || [];
        (function () {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?48c720899ba516725e37704242523397";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
      }
    meta(name="referrer", content="no-referrer")
    meta(name="keywords" content="表情包制作,GIF图制作,表情包编辑,表情图制作,在线表情包制作")
    meta(name="description" content="一个轻量级的表情包制作工具，可制作gif动图、表情图和各种静态图")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
    link(rel="shortcut icon" type="image/x-icon" href=webpackConfig.output.publicPath + "favicon.ico")
    link(rel="apple-touch-icon" href="//cdn.biaoqing233.com/images/logo-1112x1112.jpg")
    link(rel="dns-prefetch" href="//cdn.biaoqing233.com")
    link(rel="dns-prefetch" href="//editor.biaoqing233.com")
    link(rel="dns-prefetch" href="//wx3.sinaimg.cn")
    link(rel="dns-prefetch" href="//wx4.sinaimg.cn")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    meta(name="x5-cache", content="disable")
    meta(http-equiv="expires", content="0")
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="Pragma", content="no-cache")
    link(rel="shortcut icon", href=webpackConfig.output.publicPath + "favicon.ico")
    title 表情包制作 - biaoqing233.com
    style
      include ../src/assets/css/common/loading.css
  body(style="margin:0")
    noscript
      strong We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to continue.
    #loading.loading.background
      .app-loader
        .app-loader-shadow
        .app-loader-box
    #app