.display-block {
  display: block;
}

.display-none {
  display: none;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* 懒加载样式 */
.lazy-img-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lazy-img-box[lazy="loaded"],
img[lazy="loaded"] {
  visibility: visible !important;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

img[lazy="error"] {
  visibility: visible !important;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
